{#
Render the login button, and google signin button, if set

* Set button_container_class_list with an array of classes to override the default classes


@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% block buttons %}
<div class="{{ button_container_class_list|default(['form-group', 'd-flex', 'justify-content-between'])|join(' ') }}">
    {# 普通登录按钮：保持原有行为 #}
    <button id="login-button"
            class="btn btn-primary flex-fill"
            type="submit"
            onclick="transmit_form(this)">
        {{ "Login"|xlt }}
    </button>

    {# 新增：登录到 H5 的按钮，复用与 Login 完全相同的提交流程 #}
    <button id="login-h5-button"
            class="btn btn-outline-secondary flex-fill ms-2"
            type="button"
            onclick="loginToH5()">
        {{ "Login H5"|xlt }}
    </button>

    {% if displayGoogleSignin %}
        <div class="g_id_signin flex-fill" data-type="standard"></div>
    {% endif %}
</div>
{% endblock %}
